#createPost{
    align-items: center;
    background-color: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

#createPost div{
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    
    height: 520px;
    width: 500px;
}


#createPost form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 24%;
}

#createPost span{
    display: flex;
    align-items: center;
}

#createPost span input{
    background-color: white;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    padding: 4px 12px;
    width: 350px;
    margin-right: 20px;
}

input[type="file"]{
    display: none;
}

#createPost form label{
    background-color: #0095f6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 18px;
}

#createPost form button{
    background-color: #0095f6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
}

@media screen and (max-width: 600px){
    #createPost div{
        width: 400px;
        height: 500px;
    }

    #createPost span input{
        width: 240px;
    }
}

@media screen and (max-width: 450px){
    #createPost div{
        width: 88vw;
    }

    #createPost span input{
        width: 52vw;
    }

    #createPost form label{
        padding: 6px 14px;
    }
}
